{{>header}}

<div class="row center-align">
    <h3>{{actor.name}} {{actor.surname}}</h3>
</div>
<div class="row">
    {{#movies}}
    <div class="col s8">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <h6>{{director}}</h6>
                    </div>

                <div class="card-action">
                    <form name="movie" action="/movie/{{id}}" method="get">
                        <input type="hidden" name="id" value="{{id}}">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Visualizza
                        </button>
                    </form>
                </div>
                 </div>
        </div>
    {{/movies}}
</div>

{{>footer}}
